section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

@media (min-width: 1024px) {
    section {
        margin-bottom: 15rem;
    }
}

main {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}